<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--log4日志记录配置-->
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="INFO,ERROR" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="InfoAppender22" />
    </root>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="StaticLogFileName" value="false" />
      <param name="File" value="App_Data/Error_Log/" />
      <param name="AppendToFile" value="true" />
      <!--日志文件命名规则-->
      <param name="DatePattern" value="&quot;error_log_&quot;yyyy-MM-dd&quot;.txt&quot;" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Date" />
      <!--单个文件最大数量-->
      <param name="MaximumFileSize" value="10240KB" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;" />
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;" />
      </layout>
      <!--过滤器，只需要min和max之间的级别-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="StaticLogFileName" value="false" />
      <param name="File" value="App_Data/Info_Log/" />
      <param name="AppendToFile" value="true" />
      <!--日志文件命名规则-->
      <param name="DatePattern" value="&quot;info_log_&quot;yyyy-MM-dd&quot;.txt&quot;" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Date" />
      <!--单个文件最大数量-->
      <param name="MaximumFileSize" value="10240KB" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;" />
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="InfoAppender22" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="StaticLogFileName" value="false" />
      <param name="File" value="App_Data/Info_Log112222/" />
      <param name="AppendToFile" value="true" />
      <!--日志文件命名规则-->
      <param name="DatePattern" value="&quot;info_log_&quot;yyyy-MM-dd&quot;.txt&quot;" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Date" />
      <!--单个文件最大数量-->
      <param name="MaximumFileSize" value="10240KB" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;" />
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
  </log4net>
</configuration>